$THEME-COLOR-A: #737dfe;
$THEME-COLOR-B: #ffcac9;

@property --theme-color-a {
  syntax: '<color>';
  initial-value: $THEME-COLOR-A;
  inherits: false;
}

@property --theme-color-b {
  syntax: '<color>';
  initial-value: $THEME-COLOR-B;
  inherits: false;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap');